<%- include('partials/header'); -%>

  <body>
    <canvas id="myChart"></canvas>
  </body>

    
  <script>

      function dynamicColors(length) {
        var colors = [];
        for (var i = 0; i < length; i++) {
          var r = Math.floor(Math.random() * 255);
          var g = Math.floor(Math.random() * 255);
          var b = Math.floor(Math.random() * 255);
          colors.push("rgba(" + r + "," + g + "," + b + ", 1)");
        }
        return colors;
      }

      var ctx = document.getElementById('myChart').getContext('2d');
      const nu = '<%= name %>';
      
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: <%- JSON.stringify(lbl) %>,
          datasets: [{
            label: nu,
            data: <%- JSON.stringify(dt) %>,
            backgroundColor: dynamicColors(<%= lt %>),            
            borderWidth: 1
          }]
      },
      options: {
          responsive: true,
          maintainAspectRatio: false,
          title: {
              display: true,
              text: 'Calories for Today'
          },
          legend: {
              display: true,
              position: 'bottom',
              labels: {
                  fontColor: '#333',
                  fontSize: 14
              }
          },
          animation: {
              animateScale: true,
              animateRotate: true
          },
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex];
                var label = data.labels[tooltipItem.index];
                var value = dataset.data[tooltipItem.index];
                var unit = '<%= JSON.stringify(ut[0]) %>';
                return '${label}: ${value} ${unit}';
        }
      }
    }
      }
      });
    </script>

<%- include('partials/footer'); -%>